<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailyappslab.tfms" >

    <supports-screens>
        android:smallScreen=["true"]
        android:normalScreen=["true"]
        android:largeScreen=["true"]
        android:anyDensity=["true"]

    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label=""
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LabelLoader"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".PackageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".LoadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".GuessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog">
        </activity>

        <activity android:name=".MarketActivity"
            android:theme="@style/AppThemeDialog"></activity>

        <activity android:name=".PackageLockedActivity"
            android:theme="@style/AppThemeDialog"></activity>


    </application>

</manifest>
